.websocket-logger-portlet #log-container {
	height: 450px;
	overflow-x: hidden;
	overflow-y: visible;
	font-size: 13px;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}